<!DOCTYPE html>
<html>
  <head>
    <title>thing nester</title>
    <link rel="stylesheet" href="/public/css/style.css" />
  </head>
  <body>
    <h2><a href="/things">thingnester</a><h2>
      {{{body}}}
  </body>
</html>
